<head>
	<title>Move the bot !</title>
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="./js/lib/mqtt.js"></script>
	<!-- what a superb program -->
	<script src="./js/app.js"></script>
</head>

<body>
	<p>
		<input id="touch" style="height: 100px; width: 100px; position: absolute; left: 550px; top: 100px" type="button" value="Accelerate"
		 onclick="app.accelerate(); " />
	</p>
	<p>
		<input id="touch1" style="height: 100px; width: 100px; position: absolute; left: 450px; top: 200px" type="button" value="Steer Left"
		 onclick="app.left();" />
	</p>
	<p>
		<input id="touch2" style="height: 100px; width: 100px; position: absolute; left: 550px; top: 200px" type="button" value="Stop"
		 onclick="app.stop();" />
	</p>
	<p>
		<input id="touch3" style="height: 100px; width: 100px; position: absolute; left: 650px; top: 200px" type="button" value="Steer Right"
		 onclick="app.right(); " />
	</p>
	<p>
		<input id="touch4" style="height: 100px; width: 100px; position: absolute; left: 550px; top: 300px" type="button" value="Reverse"
		 onclick="app.reverse(); " />
	</p>
	<div id="send">
		<p> Enter the hostname/ip:port to initiate the MQTT over websockets connection </p>
		<input type="text" id="mqttaddress" size="100" value="ws://localhost:8998"/>
		<br>
		<input id="mqttconnect" type="button" value="Connect" onclick="app.connect(document.getElementById('mqttaddress').value)" />
		</br>
		</br>
	</div>
	</div>
	<div id="receive">
		MQTT client outputs shown here
	</div>